# 1. Môi trường ảo Python
venv/
.venv/
env/
.env

# 2. Cache & File thực thi của Python
__pycache__/
*.py[cod]
*$py.class
*.so

# 3. Jupyter Notebook
.ipynb_checkpoints/

# 4. Các thư mục IDE & Hệ điều hành
.vscode/
.idea/
.DS_Store
Thumbs.db